<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="43332ScottCoyne.Everse" Publisher="CN=F116E714-E702-4552-AD63-B23D957DFEF7" Version="1.1.0.3" />
  <Properties>
    <DisplayName>ЯEverse</DisplayName>
    <PublisherDisplayName>UnderDev</PublisherDisplayName>
    <Logo>Assets\50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ReverseApp.Windows.App">
      <m2:VisualElements DisplayName="ЯEverse" Square150x150Logo="Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ReverseApp.Windows" ForegroundText="light" BackgroundColor="lightBlue">
        <m2:DefaultTile Square310x310Logo="310x310.png" Wide310x150Logo="310x150.png" Square70x70Logo="70x70.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="lightBlue" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>